<h1>{{ artist.name }}</h1>

<h3>Albums</h3>
{% if albums %}
  <ul>
  {% for link in links %}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  None
{% endif %}

<h3>Links</h3>
{% if links %}
  <ul>
  {% for link in links %}
    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
  {% endfor %}
  </ul>
{% else %}
  None
{% endif %}


<h3>Add to this artist</h3>
{% if error_message %}<p>{{ error_message }}</p>{% endif %}

<h4>Album</h4>
Not implemented yet

<h4>Link</h4>
<form action="{% url 'music:detail' artist.id %}" method="post">
  {% csrf_token %}
  name: <input type="text" name="name"><br />
  url: <input type="text" name="url"><br />
  <input type="submit" value="Submit">
</form>
